# 获取当前工作目录中的R脚本
source('fancyADMIXTURE.r')

# fam file in $pops $sample $sex format must have the same prefix with the .Q file
fancyADMIXTURE('prune',KMIN=replacest,KMAX=replaceen,HCLUST=T,PNG=F,OUTFILEPREFIX='replaceprefix')
q()
